body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  background-color: lightgreen;
  color: blue;
}

a {
    margin-bottom: 30px;
}

h1 {
  font-weight: normal;
  font-size: 48px;
  font-family: "MatrixScript", sans-serif;
  letter-spacing: 1px;
  line-height: 40px;
  margin-bottom: 30px;
}

.inputSection {
  margin: 50px 0 px 80 px 0 px;
  width: 400;
}

.button {
  margin-top: 40px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
  background-color: white;
  padding: 10px 20px;
  border: none;
  display: run-in;
  color: black;
  font-size: 16px;
}

.addOption {
  margin-top: 10px;
  margin-bottom: 70px;
  background-color: blue;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  color: white;
}

.submit {
  background-color: blue;
  padding: 10px 20px;
  font-size: 24px;
  border: none;
  color: white;
}

.resultSection {
  height: 200px;
  display: flex;
  justify-content: : center;
  font-size: 50px;
}
