body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  background-color: grey;
  color: white;
}

a {
    margin-bottom: 30px;
}

h1 {
  font-weight: normal;
  font-size: 30px;
  font-family: sans-serif;
  letter-spacing: 1px;
  width: 500px;
  line-height: 40px;
  margin-bottom: 20px;
}

.inputsection {
  margin: 50px 0 px 80 px 0 px;
  width: 400;
}

.button {
  margin-top: 40px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.submitoption {
  margin-top: 10px;
}
